
/*------------------------------------------------------------------*/
/*                         All pages                                */
/*------------------------------------------------------------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'EB Garamond', Times, serif;
}

body{
	font-family: 'EB Garamond', Times, serif;
	background-color:#e9e9e7;
}

@media screen and (max-width: 768px) {
	#BodyPortfolio{
		background-color:rgba(134, 134, 134, 0.086);
}
}

#Logo{
	position: relative;
	font-size: 40px;
    float: left;
	color: #211656;
	padding-left: 16%;
	margin-top: 20px;
	text-decoration: none;
	
}

.headingTitle{
	font-size: 40px;
	color: #211656;
	margin-top: 100px;
	margin-left: 16%;	
	margin-bottom: 50px;
	position: relative;
	animation-name: moveTitle;
	animation-duration: 3s;
}

@keyframes moveTitle {
	0%   {left:-1000px; top:0px; opacity: 0;}
	100% {left:0px; top:0px; opacity: 1;}

}



@media screen and (max-width: 450px) {
	#Logo{
		position: relative;
		font-size: 22px;
		float: left;
		color: #211656;
		padding-left: 0%;
		margin-top: 10px;
	}

	.headingTitle{
		font-size: 24px;
		color: #211656;
		margin: auto;
		margin-top: 20px;	
		margin-bottom: 10px;
		width: 80%;
	}
	
}

/*------------------------------------------------------------------*/
/*                           NAV BAR                                */
/*------------------------------------------------------------------*/


nav{
	position: relative;
	width: 100%;
	height: 100px;
	background-color: white;
}
 

.nav-links{
	display: flex;
	list-style: none;
	width: 30%;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
	float: right;
	padding: 0px;
	margin-right: 16%;
}

.nav-links li a{
	color: #211656 ;
	display: inline-block;
	font-size: 25px;
	margin-top: 8px;
	text-decoration: underline rgba(0, 0, 0, 0) 4px;
	transition: text-decoration-color 1000ms, text-underline-offset 1000ms;
	text-underline-offset: 0.2em;
	background-position: right bottom;
}
.nav-links li a:hover {
	text-decoration-color: #21165655;
	background-position: left bottom;
}

@media screen and (max-width: 768px){
	.nav-links li a{
		margin-right: 15px;
		font-size: 17px;
	}
}


@media screen and (max-width: 450px) {

	.line{
		width: 30px;
		height: 2px;
		background: #211656;
		margin: 5px;
	}

	nav{
		width: 80%;
		height: 50px;
		background-color: white;
		margin: auto;
	}

	.hamburger{
		position: absolute;
		cursor: pointer;
		right: 0%;
		top: 50%;
		transform: translate(-5%,-50%);
		z-index: 4;
	}
	.nav-links{
		position: fixed;
		background: #ffffff;
		height: 800px;
		width: 82%;
		flex-direction: column;
		justify-content: flex-start;
		clip-path: circle(100px at 100% -1%);
		-webkit-clip-path:circle(100px at 99% -20%);
		transition: all 1s ease-out;
		pointer-events: none;
		z-index: 3;

	}


	.nav-links.open{
		clip-path: circle(1000px at 100% -1%);
		-webkit-clip-path:circle(1000px at 90% -10%);
		pointer-events: all;
		background-color: #ffffff;
		margin-top: 50px;
	}
	.nav-links li{
		opacity: 1;
	}
	.nav-links li a {
		font-size: 25px;
		color: #211656;
	}
	.nav-links li:nth-child(1){
		transition: all 0.5s ease 0.2;
	}
	.nav-links li:nth-child(2){
		transition: all 0.5s ease 0.4;
	}
	.nav-links li:nth-child(3){
		transition: all 0.5s ease 0.6;
	}
	li.fade{
		opacity: 1;
	}
}


/*------------------------------------------------------------------*/
/*                         Home PAGE                                */
/*------------------------------------------------------------------*/

/* ELEMENT FOR INTRODUCTION */


#heroPhoto{
	width: 68%;
	height: auto;
	display: block;
	margin: auto;
	padding: 0px;
	position: relative;
	animation-name: bouge;
	animation-duration: 4s;
}

@keyframes bouge {
	0%   {left:-1000px; top:0px; opacity: 0;}
	100% {left:0px; top:0px; opacity: 1;}

}


.introPhotoContainer{
	position: relative;
	text-align: center;


}
.bottom-left{
	position: absolute;
	bottom: 8px;
	left: 20%;
	border: solid 3px #2708c000;
  
}

#UXTitle{
	font-size: 60px;
	color: #211656;

}

#portfolioTitle{
	color: #211656;
	font-size: 80px;
	text-align: center;

}

.bodyText{
	color: #211656;
	font-size: 20px;
	text-align: center;
}

@media screen and (max-width: 450px) {
	#heroPhoto{
		width: 80%;
		height: auto;
		display: block;
		margin: auto;
		padding: 0px;
	}

	.bottom-left{
		position: absolute;
		bottom: 0px;
		left: 10%;
		border: solid 3px #2708c000;	  
	}

	#UXTitle{
		font-size: 30px;
		margin: 0px;
	}

	#portfolioTitle{
		font-size: 40px;
		margin-top: 14px;
		margin-bottom: 0px;
	
	}
	.bodyText{
		font-size: 15px;
	}
	
}


/* About Me Section */


.containerFlex{
	width: 68%;
	display: flex;
	flex-direction: rows;
	margin-left: 16%;
	margin-right: 16%;
	margin-bottom: 100px;
	color: #211656;
	font-size: 15px;
	position: relative;
}

.aboutTextLeft{
	padding: 20px;
	padding-left: 0px;
	font-size: 20px;
	max-width: 800px;
}

.aboutTextRight{
	padding-left: 80px;
	font-size: 20px;
	margin: 30px;
}


/* Picture with the Statue */

.collageText{
	width: 100%;
	display: block;
	margin: auto;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.collagePicture{
 	height: 500px; 
}

#collageOverlay{
	position: relative;
	height: auto;
}

#collage{
	display: block;
	width: 400px;
	padding-top: 80px;
	margin-top: 40px;
	height: 100%;
	top: 0;
}

#collageWig{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 400px;
	padding-top: 80px;
	z-index: 1;
	animation-name: wigMove;
	animation-duration: 6s;
	animation-iteration-count: infinite;

}

@keyframes wigMove {
  0% { transform: translate(1px, 9px) rotate(0deg); }
  10% { transform: translate(-3px, -5px) rotate(-4deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 7px) rotate(8deg); }
  40% { transform: translate(2px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, -12px) rotate(-1deg); }
  60% { transform: translate(-6px, 1px) rotate(20deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(4deg); }
  100% { transform: translate(1px, 9px) rotate(0deg);  }
}


/* Mobile App */ 

@media screen and (max-width: 450px) {

	.containerFlex{
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: 0px;
		color: #211656;
		padding: 0%;
		margin: auto;
	}
	.collagePicture{
		display: inline-block;
		width: 300px;
		margin: auto;
		margin-top: 24px;
		height: 100px;
		margin-bottom: 50px;

	}
	#collage{
		width: 300px;
		padding: 0px;
		margin: 0px;
		position: relative;
	}
	
	#collageWig{
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		top: 0;
		padding-top: 0px;
		text-align: center;
	}
	.aboutTextLeft{
		padding: 0px;
		font-size: 18px;
		margin: 0px;
		width: 80%;
		margin: auto;
	}

	.collageText{
		width: 100%;
		text-align: center;
		padding-bottom: 50px;
	}
}



/*------------------------------------------------------------------*/
/*                         Skills Page                              */
/*------------------------------------------------------------------*/

.goingBackMenu{
	width: 68%;
	display: flex;
	flex-direction: rows;
	justify-content: space-evenly;
	margin-left: 16%;
	margin-right: 16%;
	margin-bottom: 170px;
	color: #211656;
	font-size: 20px;
	position: relative;
}

.goingBackButton{
	text-decoration: none;
	color: #211656;
	background-color: #D4DCF2;
	padding: 8px;
	border-radius: 8px;
	text-decoration: none;
	list-style: none;
}

.goingBackButton:hover{
	text-decoration: none;
	background-color: #211656;
	color: #D4DCF2;

}

@media screen and (max-width: 450px) {


	.goingBackMenu{
		width: 80%;
		height: 200px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		text-align: center;
		color: #211656;
		font-size: 20px;
		position: relative;
		margin: auto;
	}
}



/*------------------------------------------------------------------*/
/*                         Skills Page                              */
/*------------------------------------------------------------------*/

.containerSkills{
	width: 68%;
	display: flex;
	flex-direction: rows;
	align-items: center;
	margin-left: 16%;
	margin-right: 16%;
	color: #211656;
	position: relative;
}

.skillsText{
	margin-left: 16%;
	margin-right: 16%;
	margin-top: 100px;
	width: 68%;
	margin-bottom: 100px;
	color: #211656;
	font-size: 20px;
}

#skillImage{
	margin-top: 100px;
	width: 800px;
	height: auto;
	display: block;
	margin: auto;
}

.introSkills{	
	color: #211656;
	font-size: 20px;
	padding-right: 24px;
}

#officeImage{
	position: relative;
	width: 450px;
	border-radius: 8px;
	animation-name: officeMoving;
	animation-duration: 3s;
}


@keyframes officeMoving {
	0%   {opacity: 0;}
	100% {opacity: 1;}
  }


@media screen and (max-width: 450px) {

	.containerSkills{
		width: 80%;
		flex-direction: column-reverse;
		margin: auto;
		
	}
	#officeImage{
		width: 100%;
		margin: auto;	
		margin-top: 24px;
		margin-bottom: 24px;
	}

	#skillImage{
		margin-top: 100px;
		width: 88%;
		height: auto;
		display: block;
		margin: auto;
	}

	.introSkills{	
	font-size: 18px;
	padding-right: 0px;
}

.skillsText{
	width: 80%;
	margin: auto;
	color: #211656;
	font-size: 18px;
}
	
}

/*------------------------------------------------------------------*/
/*                         Projects Page                            */
/*------------------------------------------------------------------*/


.containerProjectsRight{
	width: 68%;
	display: grid;
	grid-template-columns:  auto auto;
	grid-template-rows:  auto auto auto;
	margin-left: 16%;
	margin-right: 16%;
	margin-bottom: 150px;
	color: #211656;
	max-width: 1200px;
}

.containerProjectsLeft{
	width: 68%;
	display: grid;
	grid-template-columns:  auto auto;
	grid-template-rows:  auto auto auto;
	margin-left: 16%;
	margin-right: 16%;
	margin-bottom: 150px;
	color: #211656;
	max-width: 1200px;

}

.aboutTextRightProject{
	font-size: 20px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	width: 100%;
	padding-left: 30px;	
}

.aboutTextLeftProjects{
	font-size: 20px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	width: 100%;
	padding-right: 20px;
}

/************** Good Read ************/

#goodreadPhoto{
	left: 0;
	width: 100%;
	height: 450px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 4;
	display: block;
	text-align: center;
	border-radius: 8px;
}

#goodreadTitle{
	font-size: 30px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	padding-left: 30px;	
}

#goodreadButton{
	display: none;
	color: #211656;
	font-size: 20px;
	background-color: #d4dcf285;
	padding: 5px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 5px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

.goodreadButtonComputer{
	color: #211656;
	font-size: 20px;
	width: 40%;
	margin: auto;
	background-color: #d4dcf285;
	text-align: center;
	border-radius: 5px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	bottom: 0;
	right: 0;
}

/************** Wedding ************/

#wddingPhoto{
	width: 100%;
	height: auto;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 4;
}

#weddingTitle{
	font-size: 30px;
}

#weddingButton{
	display: none;
	color: #211656;
	left: 16%;
	bottom: 10px;
	font-size: 20px;
	background-color: #d4dcf285;
	padding: 5px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 5px;
}

.weddingButtonComputer{
	color: #211656;
	font-size: 20px;
	width: 40%;
	margin: auto;
	background-color: #d4dcf285;
	text-align: center;
	border-radius: 5px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

/************** Job In ************/

#workPhoto{
	width: 500px;
	height: 300px;
	height: auto;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 4;
	justify-self: end;
	border-radius: 5px;

}

#workTitle{
	font-size: 30px;
	font-size: 30px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	padding-left: 30px;	
}

#workButton{
	display: none;
	color: #211656;
	font-size: 20px;
	background-color: #d4dcf285;
	padding: 5px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 5px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

.workButtonComputer{
	color: #211656;
	font-size: 20px;
	width: 40%;
	margin: auto;
	background-color: #d4dcf285;
	text-align: center;
	border-radius: 5px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	bottom: 0;
	right: 0;
	
}


/************** Electric V ************/


#electricPhoto{
	left: 0;
	width: 500px;
	height: 300px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 4;
	border-radius: 2%;
}

#electricTitle{
	font-size: 30px;
	height: 50px;
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

#electricButton{
	color: #211656;
	font-size: 20px;
	width: 40%;
	margin: auto;
	background-color: #d4dcf285;
	text-align: center;
	border-radius: 5px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
	bottom: 0;
	right: 0;
}


.electricComputer{
	display: none;
	color: #211656;
	font-size: 20px;
	background-color: #d4dcf285;
	padding: 5px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 5px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

/************** UFO ************/


#ufoPhoto{
	width: 100%;
	height: auto;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 4;
}

#ufoTitle{
	font-size: 30px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	padding-left: 30px;	
}

#ufoButton{
	display: none;
	color: #211656;
	font-size: 20px;
	background-color: #d4dcf285;
	padding: 5px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 5px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

.ufoButtonComputer{
	color: #211656;
	font-size: 20px;
	width: 30%;
	margin: auto;
	background-color: #d4dcf285;
	text-align: center;
	border-radius: 5px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	bottom: 0;
	right: 0;
}


#goodreadButton:hover, #workButton:hover, #electricButton:hover, #ufoButton:hover , .goodreadButtonComputer:hover, .workButtonComputer:hover, .plantButtonComputer:hover, .ufoButtonComputer:hover, #weddingButton:hover, .weddingButtonComputer:hover {
	background-color: #211656;
	color: #D4DCF2;
	text-decoration: none;
}


/* ANIMATION FOR  TITLE */


#goodreadTitle, #workTitle, #electricTitle, #ufoTitle, #weddingTitle{	
	animation-name: projectTitle;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}


@keyframes projectTitle {
	0% { color: #211656; }
	25% { color: #211656c6; }
	50% { color: #21165657; }
	75% { color: #211656c6; }
	100% { color: #211656; }
  }


#goodreadPhoto, #workPhoto, #plantPhoto, #ufoPhoto, #electricPhoto, #wddingPhoto{
	animation-name: projectPhotos;
	animation-duration: 8s;
}

@keyframes projectPhotos {
	0% { opacity: 0; }
	10% { opacity: 0.1; }
	20% { opacity: 0.2; }
	30% { opacity: 0.3; }
	40% { opacity: 0.4; }
	50% { opacity: 0.5; }
	80% { opacity: 0.8; }
	100% { opacity: 1; }
  }


@media screen and (max-width: 450px) {

	.containerProjectsRight{
		width: 80%;
		display: flex;
		flex-direction: column;
		margin: auto;
		margin-bottom: 50px;
		padding-top: 0px;
		color: #211656;
		font-size: 15px;
		background-color: #d4dcf221;
		padding: 16px;
		border-radius: 5px;
		box-shadow: 2px 3px #2116560c;

	}

	.containerProjectsLeft{
		width: 80%;
		display: flex;
		flex-direction: column;
		margin: auto;
		margin-bottom: 50px;
		padding-top: 0px;
		color: #211656;
		font-size: 15px;
		background-color: #d4dcf221;
		padding: 16px;
		border-radius: 5px;
		box-shadow: 2px 3px #2116560c;
	}

	.aboutTextRightProject{
		padding-left: 0px;
		font-size: 18px;
		margin: 0px;
	}

	.aboutTextLeftProjects{
		padding: 0px;
		padding-left: 0px;
		font-size: 18px;
		order: 2;

		
	}

	#goodreadPhoto, #workPhoto, #electricPhoto, #ufoPhoto, #goodreadPhoto, #wddingPhoto{
		width: 100%;
		height: auto;
		margin: auto;
		margin-top: 0px;
		margin-bottom: 8px;
	}

	#electricPhoto{
		height: 150px;
	}

	#ufoTitle, #workTitle {
		order: -2;
		font-size: 24px;
		text-align: center;
		padding: 0px;
	}

	#ufoPhoto, #workPhoto{
		order: -1;
	}


	#electricTitle{
		height: 140px;

	}

	
	#ufoButton, #workButton, #weddingButton, #electricButton{
		order: 6;
	}
	#goodreadTitle, #jobTitle, #electricTitle, #ufoTitle #weddingTitle{
		position: relative;
		background-color: #21165600;
		color: #211656;
		width: 80%;
		height: auto;
		margin: auto;
		margin-bottom: 5px;
		text-align: center;
		left: 0%;
		bottom: 0px;
		font-size: 24px;
		padding: 5px;
		padding-left: 0px;
		padding-right: 0px;
		border-radius: 2px;
		font-size: 24px;
	}

	#weddingTitle{
		font-size: 20px;
		text-align: center;
	}

	.goodreadButtonComputer, .workButtonComputer, .electricComputer, .ufoButtonComputer, .weddingButtonComputer{
		display: none;

	}

	#goodreadButton, #workButton, #electricButton, #ufoButton, #weddingButton{
		display: inline;
		position: relative;
		bottom: 0px;
		width: 60%;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
		font-size: 14px;
		padding: 0px;
		padding-left: 0px;
		padding-right: 0px;
		left: 0%;
		border-radius: 5%;
		padding: 15px;
		box-shadow: 2px 3px #21165610;
	}
}


/*------------------------------------------------------------------*/
/*                         CV Ciri                           */
/*------------------------------------------------------------------*/


.cvCyri{
	margin-top: 100px;
	width: 68%;
	height: auto;
	display: block;
	margin: auto;
	box-shadow: 4px 3px #d4dcf247;
	margin-bottom: 50px;
	border-radius: 5px;
}

.buttonCVPage{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 68%;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 70px;
}

.buttonDirection{
	color: #211656;
	background-color: #D4DCF2;	
	border-radius: 5px;
	padding: 12px;
	height: 40px;
	font-size: 24px;
	text-align: center;
}

.buttonDirection:hover{
	text-decoration: none;
	background-color: #211656;
	color: #D4DCF2;
}

@media screen and (max-width: 450px) {
	.cvCyri{
		padding-top: 20px;
		width: 80%;
		height: auto;
		display: block;
		margin: auto;
		margin-bottom: 10px;
		box-shadow: 4px 3px #ffffff47;	
	}

	.buttonCVPage{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 80%;
		margin: auto;
		margin-top: 40px;
		margin-bottom: 50px;
	}
	
	.buttonDirection{
		background-color: #d4dcf223;
		border-radius: 5px;
		padding: 6px;
		color: #211656;
		height: 40px;
		font-size: 12px;
		text-align: center;
		box-shadow: 3px 2px #d4dcf230;	
	}
	
}



